# vim: set ft=gitconfig:
# .gitconfig

[include]
  path = ~/.gitconfig.local
[includeIf "gitdif:~/Repos/work"]
  path = ~/.gitconfig.work

[push]
  # push should only push current branch, not all branches
  default = current
[help]
  autocorrect = 1

[core]
	editor = vim
[merge]
  tool = vimdiff

[format]
  pretty = fuller
[color]
  ui = auto
  interactive = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  commit = green bold
  meta = green bold
  frag = green bold
  func = green
  plain = yellow
  old = red
  new = cyan
[color "status"]
  added = yellow
  changed = green
  untracked = normal

[alias]
  ls      = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  last    = log -1 HEAD
  today   = log --since=midnight --color --graph \
            --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)[%an]%Creset' \
            --abbrev-commit
  yesterday = log --since yesterday --until=midnight --color --graph \
            --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)[%an]%Creset' \
            --abbrev-commit
  history = log --graph --pretty=format:'%C(yellow)%h%Creset \
            -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' \
            --abbrev-commit --date=short --date-order -n30

  bra     = branch -vv

  unstage = reset HEAD --
  discard = checkout --
  coh     = checkout HEAD --
  com     = checkout master

  amend   = commit --amend
  cos     = commit -s

  s       = status --short --branch
  st      = status
  sta     = status --short --branch --untracked-files=normal

  tags    = tag -l

  rm-uns  = ! git status --porcelain | grep ?? | awk '{ print $2 }' | xargs -L1 rm -rf 
