[submodule "tools/dotbot"]
	path = tools/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "tmux/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/repository"]
	path = tmux/repository
	url = https://github.com/tmux/tmux.git
[submodule "git-crypt"]
	path = git-crypt
	url = https://github.com/AGWA/git-crypt.git
