URxvt.perl-ext-common: ...,fullscreen,...
URxvt.keysym.F11: perl:fullscreen:switch

URxvt*depth: 32
URxvt*saveLines: 12000
URxvt*loginShell: true
URxvt*internalBorder: 3
URxvt*foreground: WhiteSmoke
URxvt*background: [86]#000000
URxvt*geometry: 140x50+110+60
URxvt*font: xft:Source Code Pro Medium:pixelsize=15:antialias=true:hinting=true,xft:Source Code Pro Medium:pixelsize=15:antialias=true:hinting=true
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt*utf8: true
URxvt*locale: true
URxvt*scrollBar: false
URxvt*scrollBar_right: false

!! Colorscheme
! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

! Disable builtin bindings of ctrl+alt+v/c
!URxvt.keysym.Control-Meta-c: builtin-string:
!URxvt.keysym.Control-Meta-v: builtin-string:
!URxvt.keysym.C-M-c: builtin-string:
!URxvt.keysym.C-M-v: builtin-string:

! Disable keycap picture insert mode
URxvt.iso14755 : false

! Change copy/paste to gnome-terminal like (cause i got used to it)
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
!URxvt.keysym.C-M-v: eval:paste_clipboard
!URxvt.keysym.C-M-c: eval:selection_to_clipboard
